[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
reno = ">=2.5.0"
hacking = "<0.13,>=0.12.0"
coverage = "!=4.4,>=4.0"
flake8-import-order = "==0.12"
python-subunit = ">=1.0.0"
oslotest = ">=3.2.0"
testtools = ">=2.2.0"
openstackdocstheme = ">=1.18.1"
Pygments = "*"
Sphinx = "!=1.6.7,!=1.6.6,>=1.6.2"

[packages]
neutron-tempest-plugin = {path = "./neutron-tempest-plugin",editable = true}
tungsten-tempest = {path = "./tungsten-tempest",editable = true}
Tempest = {path = "./tempest",editable = true}
Patrole = {path = "./patrole",editable = true}
stestr = {path = "./stestr",editable = true}

[requires]
python_version = "3.7"
